
* {
    box-sizing: border-box;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(background.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
h2{
    color: white;
}

.button-tool-pathgriho {
    border-radius: 20px;
    padding:18px;
    background-color: rgb(253, 17, 57);
    color: white;
    font-size: 15px;
    
    
}
.button-tool-pathgriho:hover {
    background-color: rgb(10, 206, 206);
    color: black;
}
.pathgriho-box {
    width: 60%;
    height: 32px;
    border-radius: 15px;
}